{erl_opts, [debug_info,
            {i, ["include"]}]}.
{ct_dir,"test"}.
{deps,[
 {ranch,".*",{git,"https://github.com/extend/ranch.git"}}
]}.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{pre_hooks, [{clean, "rm -rf .eunit"}]}.
